@{
    ViewData["Title"] = "DistPeru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding: 20px;">Distribuidores Principales de Perú</h1>

<div class="distribuidor">
    <h2>Grupo El Comercio</h2>
    <img src="https://acciontrabajo.pe/biz_pic/0973d" class="d-block mx-auto img-fluid" alt="Distribuidor Comercio">
    <div class="descripcion">
        <p>Es uno de los conglomerados más grandes de Perú, con intereses en medios de comunicación, comercio minorista, finanzas y servicios. Posee un amplio portafolio de empresas, entre las que se encuentran:</p>
        <ul>
            <li><a href="https://es.wikipedia.org/wiki/Tiendas_Wong_Per%C3%BA" target="_blank">Wong:</a> Una cadena de supermercados con más de 70 tiendas en todo el país.</li>
            <li><a href="https://www.peru-retail.com/tiendas-metro-peru/" target="_blank">Metro:</a> Otra cadena de supermercados con más de 50 tiendas en Perú.</li>
            <li><a href="https://www.peru-retail.com/hipermercados-tottus-peru/" target="_blank">Hipermercados Tottus:</a> Una cadena de hipermercados con más de 30 tiendas en Perú.</li>
        </ul>
    </div>
</div>

<div class="distribuidor">
    <h2>Grupo Interbank</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Interbank_logo.svg/1280px-Interbank_logo.svg.png" class="d-block mx-auto img-fluid" alt="Distribuidor Interbank">
    <div class="descripcion">
        <p>Es uno de los grupos financieros más importantes de Perú, con operaciones en banca, seguros y fondos de inversión. Posee las siguientes empresas:</p>
        <ul>
            <li><a href="https://es.wikipedia.org/wiki/Banco_Interbank_Per%C3%BA" target="_blank">Interbank:</a> Uno de los principales bancos del Perú, con más de 3 millones de clientes.</li>
            <li><a href="https://interbank.pe/supermercados" target="_blank">Supermercados Interbank:</a> Una cadena de supermercados con más de 30 tiendas en Lima y Arequipa.</li>
            <li><a href="https://presente.pe/interseguro/" target="_blank">Interseguro:</a> Una compañía de seguros líder en Perú.</li>
        </ul>
    </div>
</div>

<div class="distribuidor">
    <h2>Alicorp</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Alicorp.svg/1280px-Alicorp.svg.png" class="d-block mx-auto img-fluid" alt="Distribuidor Alicorp">
    <div class="descripcion">
        <p>Es una empresa multinacional peruana dedicada a la producción de alimentos y productos de consumo masivo. Posee un amplio portafolio de marcas, entre las que se encuentran:</p>
        <ul>
            <li><a href="https://soundcloud.com/donofrio-peru" target="_blank">Donofrio:</a> Una marca de helados líder en Perú.</li>
            <li><a href="https://www.beautystoreperu.com/collections/magnum" target="_blank">Magnum:</a> Una marca de helados premium de Alicorp.</li>
            <li><a href="https://www.nestle.com.pe/brands/galletas-tricolor" target="_blank">Galletas Tricolor:</a> Una marca de galletas líder en Perú.</li>
        </ul>
    </div>
</div>
