
@{
    ViewData["Title"] = "DistMundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding: 20px;">Distribuidores Principales del Mundo</h1>

<div class="distribuidor">
    <h2>Walmart</h2>
    <img src="https://cdn.portalfruticola.com/2018/05/cf9ae791-walmart-logo-promo.png" class="d-block mx-auto img-fluid" alt="">
    <p>Es una empresa multinacional estadounidense con sede en Bentonville, Arkansas, que opera cadenas de hipermercados, tiendas de descuento y almacenes de clubes de membresía. Walmart es la empresa pública más grande del mundo por ingresos brutos y el empleador privado más grande de los Estados Unidos.</p>
    <p><a href="https://www.americaretail-malls.com/tiendas-walmart/" target="_blank">Tiendas Walmart</a></p>
</div>

<div class="distribuidor">
    <h2>Amazon</h2>
    <img src="https://www.serfadu.com/wp-content/uploads/2020/10/amazon.png" class="d-block mx-auto img-fluid" alt="">
    <p>Es una empresa estadounidense de comercio electrónico y servicios en la nube con sede en Seattle, Washington. Se considera una de las cinco grandes empresas tecnológicas de las costas oeste de los Estados Unidos, junto con Google, Apple, Meta (anteriormente Facebook) y Microsoft. Amazon es el mayor minorista en línea del mundo y el mayor proveedor de servicios de computación en la nube del mundo.</p>
    <p><a href="https://www.iebschool.com/tienda-amazon/" target="_blank">Tienda Amazon</a></p>
</div>

<div class="distribuidor">
    <h2>Lowe's</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Lowes_Companies_Logo.svg/1200px-Lowes_Companies_Logo.svg.png" class="d-block mx-auto img-fluid" alt="">
    <p>Es una empresa minorista estadounidense de mejoras para el hogar con sede en Mooresville, Carolina del Norte. Es la segunda cadena minorista de mejoras para el hogar más grande del mundo. Lowe's opera una cadena de más de 2.200 tiendas en los Estados Unidos y Canadá.</p>
    <p><a href="https://es.wikipedia.org/wiki/Tiendas_Lowe%27s" target="_blank">Tiendas Lowe's</a></p>
</div>
